# macOS
.DS_Store

# Environments
.venv/
.venv*/
venv/
venv*/

# IDE files
.idea/

# Log files
*.log
nohup.out

# Pytest
.pytest_cache/

# Python
__pycache__/

# Docker
.docker/volumes/fim-redis/*
!.docker/volumes/fim-redis/.gitkeep

.docker/volumes/fim-mongo/*
!.docker/volumes/fim-mongo/.gitkeep

.docker/volumes/fim-elasticsearch/*
!.docker/volumes/fim-elasticsearch/.gitkeep
